/* line 17, /Users/abellinson/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/abellinson/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/abellinson/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/abellinson/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/abellinson/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/abellinson/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/abellinson/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/abellinson/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/abellinson/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, /Users/abellinson/.rvm/gems/ruby-1.9.3-p194/gems/susy-1.0.1/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 61, /Users/abellinson/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, /Users/abellinson/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 9, ../../src/ui/sass/_base.sass */
html {
  font-family: Sans-Serif;
  background: #2b3337;
  color: #72ccac;
}

/* line 14, ../../src/ui/sass/_base.sass */
.content {
  *zoom: 1;
  max-width: 36em;
  _width: 36em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(2.77778%, rgba(0, 0, 0, 0)), color-stop(2.77778%, rgba(100, 100, 225, 0.25)), color-stop(13.88889%, rgba(100, 100, 225, 0.25)), color-stop(13.88889%, rgba(0, 0, 0, 0)), color-stop(16.66667%, rgba(0, 0, 0, 0)), color-stop(16.66667%, rgba(100, 100, 225, 0.25)), color-stop(27.77778%, rgba(100, 100, 225, 0.25)), color-stop(27.77778%, rgba(0, 0, 0, 0)), color-stop(30.55556%, rgba(0, 0, 0, 0)), color-stop(30.55556%, rgba(100, 100, 225, 0.25)), color-stop(41.66667%, rgba(100, 100, 225, 0.25)), color-stop(41.66667%, rgba(0, 0, 0, 0)), color-stop(44.44444%, rgba(0, 0, 0, 0)), color-stop(44.44444%, rgba(100, 100, 225, 0.25)), color-stop(55.55556%, rgba(100, 100, 225, 0.25)), color-stop(55.55556%, rgba(0, 0, 0, 0)), color-stop(58.33333%, rgba(0, 0, 0, 0)), color-stop(58.33333%, rgba(100, 100, 225, 0.25)), color-stop(69.44444%, rgba(100, 100, 225, 0.25)), color-stop(69.44444%, rgba(0, 0, 0, 0)), color-stop(72.22222%, rgba(0, 0, 0, 0)), color-stop(72.22222%, rgba(100, 100, 225, 0.25)), color-stop(83.33333%, rgba(100, 100, 225, 0.25)), color-stop(83.33333%, rgba(0, 0, 0, 0)), color-stop(86.11111%, rgba(0, 0, 0, 0)), color-stop(86.11111%, rgba(100, 100, 225, 0.25)), color-stop(97.22222%, rgba(100, 100, 225, 0.25)), color-stop(97.22222%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 2.77778%, rgba(100, 100, 225, 0.25) 2.77778%, rgba(100, 100, 225, 0.25) 13.88889%, rgba(0, 0, 0, 0) 13.88889%, rgba(0, 0, 0, 0) 16.66667%, rgba(100, 100, 225, 0.25) 16.66667%, rgba(100, 100, 225, 0.25) 27.77778%, rgba(0, 0, 0, 0) 27.77778%, rgba(0, 0, 0, 0) 30.55556%, rgba(100, 100, 225, 0.25) 30.55556%, rgba(100, 100, 225, 0.25) 41.66667%, rgba(0, 0, 0, 0) 41.66667%, rgba(0, 0, 0, 0) 44.44444%, rgba(100, 100, 225, 0.25) 44.44444%, rgba(100, 100, 225, 0.25) 55.55556%, rgba(0, 0, 0, 0) 55.55556%, rgba(0, 0, 0, 0) 58.33333%, rgba(100, 100, 225, 0.25) 58.33333%, rgba(100, 100, 225, 0.25) 69.44444%, rgba(0, 0, 0, 0) 69.44444%, rgba(0, 0, 0, 0) 72.22222%, rgba(100, 100, 225, 0.25) 72.22222%, rgba(100, 100, 225, 0.25) 83.33333%, rgba(0, 0, 0, 0) 83.33333%, rgba(0, 0, 0, 0) 86.11111%, rgba(100, 100, 225, 0.25) 86.11111%, rgba(100, 100, 225, 0.25) 97.22222%, rgba(0, 0, 0, 0) 97.22222%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 2.77778%, rgba(100, 100, 225, 0.25) 2.77778%, rgba(100, 100, 225, 0.25) 13.88889%, rgba(0, 0, 0, 0) 13.88889%, rgba(0, 0, 0, 0) 16.66667%, rgba(100, 100, 225, 0.25) 16.66667%, rgba(100, 100, 225, 0.25) 27.77778%, rgba(0, 0, 0, 0) 27.77778%, rgba(0, 0, 0, 0) 30.55556%, rgba(100, 100, 225, 0.25) 30.55556%, rgba(100, 100, 225, 0.25) 41.66667%, rgba(0, 0, 0, 0) 41.66667%, rgba(0, 0, 0, 0) 44.44444%, rgba(100, 100, 225, 0.25) 44.44444%, rgba(100, 100, 225, 0.25) 55.55556%, rgba(0, 0, 0, 0) 55.55556%, rgba(0, 0, 0, 0) 58.33333%, rgba(100, 100, 225, 0.25) 58.33333%, rgba(100, 100, 225, 0.25) 69.44444%, rgba(0, 0, 0, 0) 69.44444%, rgba(0, 0, 0, 0) 72.22222%, rgba(100, 100, 225, 0.25) 72.22222%, rgba(100, 100, 225, 0.25) 83.33333%, rgba(0, 0, 0, 0) 83.33333%, rgba(0, 0, 0, 0) 86.11111%, rgba(100, 100, 225, 0.25) 86.11111%, rgba(100, 100, 225, 0.25) 97.22222%, rgba(0, 0, 0, 0) 97.22222%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 2.77778%, rgba(100, 100, 225, 0.25) 2.77778%, rgba(100, 100, 225, 0.25) 13.88889%, rgba(0, 0, 0, 0) 13.88889%, rgba(0, 0, 0, 0) 16.66667%, rgba(100, 100, 225, 0.25) 16.66667%, rgba(100, 100, 225, 0.25) 27.77778%, rgba(0, 0, 0, 0) 27.77778%, rgba(0, 0, 0, 0) 30.55556%, rgba(100, 100, 225, 0.25) 30.55556%, rgba(100, 100, 225, 0.25) 41.66667%, rgba(0, 0, 0, 0) 41.66667%, rgba(0, 0, 0, 0) 44.44444%, rgba(100, 100, 225, 0.25) 44.44444%, rgba(100, 100, 225, 0.25) 55.55556%, rgba(0, 0, 0, 0) 55.55556%, rgba(0, 0, 0, 0) 58.33333%, rgba(100, 100, 225, 0.25) 58.33333%, rgba(100, 100, 225, 0.25) 69.44444%, rgba(0, 0, 0, 0) 69.44444%, rgba(0, 0, 0, 0) 72.22222%, rgba(100, 100, 225, 0.25) 72.22222%, rgba(100, 100, 225, 0.25) 83.33333%, rgba(0, 0, 0, 0) 83.33333%, rgba(0, 0, 0, 0) 86.11111%, rgba(100, 100, 225, 0.25) 86.11111%, rgba(100, 100, 225, 0.25) 97.22222%, rgba(0, 0, 0, 0) 97.22222%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 2.77778%, rgba(100, 100, 225, 0.25) 2.77778%, rgba(100, 100, 225, 0.25) 13.88889%, rgba(0, 0, 0, 0) 13.88889%, rgba(0, 0, 0, 0) 16.66667%, rgba(100, 100, 225, 0.25) 16.66667%, rgba(100, 100, 225, 0.25) 27.77778%, rgba(0, 0, 0, 0) 27.77778%, rgba(0, 0, 0, 0) 30.55556%, rgba(100, 100, 225, 0.25) 30.55556%, rgba(100, 100, 225, 0.25) 41.66667%, rgba(0, 0, 0, 0) 41.66667%, rgba(0, 0, 0, 0) 44.44444%, rgba(100, 100, 225, 0.25) 44.44444%, rgba(100, 100, 225, 0.25) 55.55556%, rgba(0, 0, 0, 0) 55.55556%, rgba(0, 0, 0, 0) 58.33333%, rgba(100, 100, 225, 0.25) 58.33333%, rgba(100, 100, 225, 0.25) 69.44444%, rgba(0, 0, 0, 0) 69.44444%, rgba(0, 0, 0, 0) 72.22222%, rgba(100, 100, 225, 0.25) 72.22222%, rgba(100, 100, 225, 0.25) 83.33333%, rgba(0, 0, 0, 0) 83.33333%, rgba(0, 0, 0, 0) 86.11111%, rgba(100, 100, 225, 0.25) 86.11111%, rgba(100, 100, 225, 0.25) 97.22222%, rgba(0, 0, 0, 0) 97.22222%, rgba(0, 0, 0, 0) 100%);
  -webkit-background-size: 100% 24px, auto;
  -moz-background-size: 100% 24px, auto;
  -o-background-size: 100% 24px, auto;
  background-size: 100% 24px, auto;
  background-position: left top;
}
/* line 38, /Users/abellinson/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 17, ../../src/ui/sass/_base.sass */
h1 {
  font-size: 2em;
  line-height: 1.5em;
  font-weight: bold;
  margin-top: 0.375em;
  color: #169a9a;
}

/* line 23, ../../src/ui/sass/_base.sass */
div[role="main"] {
  margin-bottom: 1.5em;
}

/* line 26, ../../src/ui/sass/_base.sass */
form {
  overflow: hidden;
  *zoom: 1;
}

/* line 29, ../../src/ui/sass/_base.sass */
input {
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.75em;
  margin: 0;
}

/* line 37, ../../src/ui/sass/_base.sass */
input[type="text"], input[type="url"] {
  background: white;
}

/* line 40, ../../src/ui/sass/_base.sass */
input[type="submit"], button, .button {
  background: #ccf7ad;
}

/* line 1, ../../src/ui/sass/_layout.sass */
header {
  float: left;
}

/* line 4, ../../src/ui/sass/_layout.sass */
#toolbar {
  float: right;
}

/* line 7, ../../src/ui/sass/_layout.sass */
div[role="main"] {
  clear: both;
  color: purple;
}

/* line 3, ../../src/ui/sass/_module.sass */
form.add input[type="url"] {
  width: 70.58824%;
  float: left;
  margin-right: 2.94118%;
  display: inline;
}
/* line 6, ../../src/ui/sass/_module.sass */
form.add input[type="submit"] {
  width: 26.47059%;
  float: left;
  margin-right: 2.94118%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

/* Alerts
 * ------------------------------ *
 * <article class="alert type">
 *  <h2>Headline</h2>
 *  <p>Content</p>
 *</article>
 */
/* line 17, ../../src/ui/sass/_module.sass */
.alert {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  color: #2b3337;
  font-weight: bold;
  background: #ccf7ad;
}
/* line 22, ../../src/ui/sass/_module.sass */
.alert p {
  padding-left: 14.70588%;
  padding-right: 14.70588%;
}

/* line 24, ../../src/ui/sass/_module.sass */
h2 {
  margin-top: 0em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  margin-bottom: 1.2em;
  padding-left: 1.2em;
  text-transform: uppercase;
  font-size: 1.25em;
  line-height: 1.2em;
  color: #2b3337;
}
/* line 30, ../../src/ui/sass/_module.sass */
.success h2 {
  background: #7ad72c;
}
/* line 32, ../../src/ui/sass/_module.sass */
.neutral h2 {
  background: #e9ff35;
}
/* line 34, ../../src/ui/sass/_module.sass */
.caution h2 {
  background: #ff6500;
}
/* line 36, ../../src/ui/sass/_module.sass */
.warning h2 {
  background: #ee3800;
}
